<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="Api Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <extensions>
      <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension" />
    </extensions>

    <!-- Prevent coverage reports from looking in tests and vendors -->
    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
    </filter>

</phpunit>
